<form method="post" action="{{ path('app_couleur_delete', {'id': couleur.id}) }}" onsubmit="return confirm('Vous êtes sûr le point de supprimer une couleur, voulez-vous continuer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ couleur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
