<form method="post" action="{{ path('app_fabricant_delete', {'id': fabricant.id}) }}" onsubmit="return confirm('Vous êtes sûr le point de supprimer un fabricant, voulez-vous continuer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fabricant.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
