{% extends 'base.html.twig' %}

{% block title %}Edit Fabricant{% endblock %}

{% block body %}
    <h1>Edit Fabricant</h1>

    {{ include('fabricant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fabricant_index') }}">back to list</a>

    {{ include('fabricant/_delete_form.html.twig') }}
{% endblock %}
