{% extends 'base.html.twig' %}

{% block title %}New Fabricant{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
    <h1>Ajouter un nouveau Fabricant</h1>
    <br>
    <br>
<div class="boutons">
    {{ include('fabricant/_form.html.twig') }}
<br>
    <a class="btn btn-primary me-md-2" href="{{ path('app_fabricant_index') }}">Retour</a>
 <br>
    <br>
</div>
</main>
</section>
</div>
{% endblock %}
