<form method="post" action="{{ path('app_continent_delete', {'id': continent.id}) }}" onsubmit="return confirm('Vous êtes sûr le point de supprimer un continent, voulez-vous continuer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ continent.id) }}">
    <button  class="btn btn-danger" role="button">Supprimer</button>
</form>
