<form method="post" action="{{ path('app_typebiere_delete', {'id': typebiere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typebiere.id) }}">
    <button class="btn">Delete</button>
</form>
