{% extends 'base.html.twig' %}

{% block title %}Ajouter Type biere{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
    <h1>Ajouter un nouveau Type de biere</h1>
 <br>
    <br>
    {{ include('typebiere/_form.html.twig') }}
<br>

    <a class="btn btn-primary me-md-2" href="{{ path('app_typebiere_index') }}">Retour</a>
</main>
</section>
</div>
{% endblock %}
